body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3%;
    background: #282c34;
    color: #61dafb;
    font-family: "Roboto Light", sans-serif;
}

form {
    margin-bottom: 3%;
}

.block {
    display: flex;
    flex-direction: column;
}